<div class="d-flex justify-content-center pt-4">
    <h2>Datos del programador</h2>
</div>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <table class="table">
            <tbody >
              <tr>
                <th scope="row">Nombre</th>
                <td>Abdiel Jonathan Pérez Balcón</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>abdiel.perezb&#64;alumno.buap.mx</td>
              </tr>
              <tr>
                <th scope="row">Teléfono</th>
                <td>2222541739</td>
              </tr>
              <tr>
                <th scope="row">Dirección</th>
                <td>27 Sur Col. Valle del Sur 72498 Puebla, Pue.</td>
              </tr>
              <tr>
                <th scope="row">Fecha de nacimiento</th>
                <td>20-12-2000</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4"></div>
</div>