
    <div class="row mt-5">
      <div class=" col-md-6 col-lg-4 mt-5">
        <div class="d-flex justify-content-center"><h2>BUAP</h2></div>
        <img src="assets/img/buap.jpeg" width="100%" alt="">
      </div>
      <div class="mt-1 col-md-6 col-lg-4">
        <div class="d-flex justify-content-center"><h2>Facultad de Ciencias de la Computación</h2></div>
        <img  src="assets/img/fcc.jpeg" width="100%" height="64%" alt="">
      </div>
      <div class=" mt-5 col-md-6 col-lg-4">
        <div class="d-flex justify-content-center"><h2>Desarrollo Móvil</h2></div>
        <img src="assets/img/desarrollomovil.jpg" width="100%" alt="">
      </div>
    </div>
